# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

html/

# Hao added manually
not_in_git**/

code_02_orbit_0_circle.gif

code_02_orbit_1_elliptical_wrong.gif

code_02_orbit_1_elliptical.gif

code_02_orbit_3_parabolic_wrong.gif

code_02_orbit_3_parabolic.gif

code_02_orbit_4_hyperbolic_wrong.gif

code_02_orbit_4_hyperbolic.gif
